<div class="container">
    <div class="col-sm-12">
        <a class="fa fa-arrow-left pt-2 text-dark" routerLink="/admin/groups"> Back to Groups</a>
    </div>
    <div class="co-sm-12">
        <div class="container p-4">
            <span class="fa fa-circle h4 text-primary"></span>
            <span class="ml-1">{{groupName}}</span>
            <div class="dropdown float-right">
                <button class="btn border-primary text-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item bg-light" (click)="openEditGroupDialog(editgroup)">Edit</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item bg-light" (click)="openConfirmDialog(confirmDialog)">Delete</a>
                </div>
            </div>
            <p class="pl-1 text-muted">{{groupDescription}}</p>
        </div>

    </div>
    <div class="col-sm-12">
        <div class="container">
            <span class="fa fa-clock-o text-light text-muted pr-1"></span>
            <span>Created: {{created | date: 'dd/MM/yyyy'}}</span>
            <span class="fa fa-clock-o text-light text-muted pl-2"></span>
            <span> Last modified:{{lastUpdated | date: 'dd/MM/yyyy'}} </span>
            <a class="d-inline"> view logs</a>
        </div>
    </div>
    <div class="col-sm-12">
        <mat-tab-group>
            <mat-tab label="People">
                <div class="container">
                    <div class="row">
                        <h3 class="font-weight-bold p-4 ml-1">People</h3>
                        <div class="col-sm-12">
                            <div class="col-sm-8 float-left">
                                <div class="people-card">
                                    <div class="people-card-header">
                                        <div class="form-group has-search float-left">
                                            <span class="fa fa-search form-control-feedback"></span>
                                            <input type="text" [(ngModel)]="searchUser" class="form-control col-sm-8" placeholder="Search...">
                                        </div>
                                        <div class="float-right">
                                            <span>Show
                                                <select name="" id="" class="bg-white btn btn-md border" (change)="tableData($event)">
                                                    <option *ngFor="let size of tableSizesArr" [ngValue]="size">
                                                        {{ size }}
                                                      </option>
                                                </select>
                                            </span>
                                            <span class="btn btn-sm ml-1 btn-primary" routerLink="/admin/groups/{{groupId}}/workingSet/{{groupId}}">Assign People</span>
                                        </div>
                                    </div>
                                    <div class="people-card-body">
                                        <table class="table table-sm table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Person & Username</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="!Users?.length">
                                                <h4 class="p-4 text-info text-center ">No data found</h4> 
                                            </tbody>
                                            <tbody *ngIf="Users?.length">
                                                <tr *ngFor="let user of Users | paginate : {
                                                    itemsPerPage: tabSize,
                                                    currentPage: page,
                                                    totalItems: count
                                                  } |filter:searchUser; let i = index" [class.active]="i == currentIndex">
                                                    <td>
                                                        <a
                                                            href="" routerLink="/admin/user/profile/view/{{user.id}}">{{user.profile.firstName}}{{user.profile.lastName}}</a>
                                                        <p class="text-muted">{{user.profile.login}}</p>
                                                    </td>
                                                    <td>{{user.status}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="people-card-footer">
                                        <div class="col-sm-12 col-md-12 col-lg-12 overflow-hidden">
                                            <span class="float-left">showing 1 - {{page}} of {{tableSize}}</span>
                                            <div class="d-flex justify-content-center">
                                                <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="tabSize($event)">
                                                </pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 float-right">
                                <h4 class="font-weight-bold">Group Members</h4>
                                <p>People and apps can be members of a group. People are automatically assigned any apps
                                    that are members of a group.</p>
                                <p>Use Manage People to add and remove people from this group. Use Add Apps and Remove
                                    Apps to do the equivalent for apps.</p>
                                <h4 class="font-weight-bold">How do I edit the group name and description?</h4>
                                <p>Hover your mouse over the group name or description to edit them inline.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Application">
                <div class="container">
                    <h3 class="font-weight-bold mt-2">Application</h3>
                </div>
            </mat-tab>
            <mat-tab label="Profile">
                <div class="container">
                    <h3 class="font-weight-bold mt-2">Profile</h3>
                </div>
            </mat-tab>
            <mat-tab label="Directories">
                <div class="container">
                    <h3 class="font-weight-bold mt-2">Directories</h3>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<ng-template #confirmDialog let-modal>
    <div class="modal-body">
        <div class="container">
            <div class="alert alert-warning">
                <span class="fa fa-warning-circle"></span>
                <span>Are you sure to delete this <strong>{{Group.profile.name}}</strong> ?</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="deleteGroup()" class="btn btn-primary">Sure!</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<ng-template #editgroup let-modal>
    <form action="" id="form" [formGroup]="updateForm" class="form-horizontal"
        (ngSubmit)="updateGroup(updateForm.value)">
        <div class="modal-header bg-light">
            <h2 class="modal-title" id="modal-basic-title">Edit Groups</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="form-group row">
                    <label for="{{name}}" class="col-sm-4 col-form-label">{{helper.labelName}}</label>
                    <div class="col-sm-8">
                        <input type="text" formControlName="name" class="form-control">
                        <span class="text-danger" *ngIf="getName && getName.invalid && getName.touched">This name field
                            required!</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">{{helper.labelDescription}}</label>
                    <div class="col-sm-8">
                        <input type="text" formControlName="description" required="required" class="form-control">
                        <span class="text-danger"
                            *ngIf="getDescription && getDescription.invalid && getDescription.touched">This description
                            field required!</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">{{helper.buttonUpdate}}</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{helper.buttonCancel}}</button>
        </div>
    </form>
</ng-template>