.people-card{
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.people-card>.people-card-header{
    border-bottom:1px solid #ddd;
    background-color: #eee;
    height:3.2rem;
    padding: 8px;
}
.people-card>.people-card-body{
    display: block;
    flex-direction: row;
    height: auto;
    background-color: #fff;
}

.people-card>.people-card-footer{
    height:3.2rem;
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: #eee;
}
