<div class="container">
    <div class="row">
        <div class="col-sm-1 m-0">
            <span class="fa fa-user border text-muted py-3 px-3 fa-3x"></span>
        </div>
        <div class="col-sm-11">
            <h2 class="font-weight-bold">{{firstName +' '+lastName}}</h2>
            <h3>{{login}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="button-group">
                <button class="m-1 btn border-primary">Set Password & Activate</button>
                <button class="m-1 btn border-primary">Resend Activation Email</button>
                    <button class="m-1 border-primary btn dropdown-toggle" data-toggle="dropdown"> More Actions
                    <span class="caret"></span>
                    <ul class="dropdown-menu text-primary">
                      <li><a class="fa fa-refresh"> Reset Multifactor</a></li>
                      <li><a class="fa fa-user-pause" (click)="suspendUser(Users.id)"> Suspend</a></li>
                      <li><a class="fa fa-user-not" (click)="deactivateUser(Users.id)"> Deactivate</a></li>
                    </ul>
                </button>
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-12">
            <span class="fa fa-user text-muted"> User</span>
            <span class="fa fa-heart text-muted ml-4"> {{Users?.status}}</span>
            <a href="#" class="ml-2">View logs</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Applications">
               <h3 class="py-2 text-dark">Assign Applications</h3>
               <div class="okta-card">
                   <div class="okta-card-header">
                        <div class="col-sm-12 p-2">
                                <button class="btn btn-primary btn-sm btn-lg btn-md text-white float-left font-weight-bold"> Assign Applications</button>
                            <div class="form-group has-search float-right">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text"  class="form-control d-auto" placeholder="Search...">
                            </div>
                        </div>
                   </div>
                   <div class="okta-card-body">
                       <table class="table table-sm">
                           <thead>
                               <tr>
                                   <th>Application</th>
                                   <th>Assignment & App Username</th>
                               </tr>
                           </thead>
                           <tbody *ngIf="!ApplicationInfo">
                            <div class="data-list-empty-msg">
                                <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                                <h5 class="data-list-head data-list-empty-head data-list-empty-subhead text-center">No apps assigned to this user</h5>
                            </div>
                          </tbody>
                          <!-- <tbody *ngIf="UsersInfo">
                            <tr *ngFor="let usersinfo of UsersInfo">
                                <td>{{usersinfo.name}}</td>
                            </tr>
                        </tbody> -->
                       </table>
                   </div>
               </div>
            </mat-tab>
            <mat-tab label="Groups">
                <div class="container-fluid">
                    <h2>Groups</h2>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="okta-card">
                                <div class="okta-card-header">
                                    <div class="form-group has-search py-2 px-4">
                                        <span class="fa fa-search form-control-feedback"></span>
                                        <!-- <input type="text"  class="form-control " placeholder="Type group to add..."> -->
                                        <input type="text"  class="form-control " placeholder="Type group to add..."
                                        [formControl]="control"
                                        [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                          <mat-option *ngFor="let group of filteredGroups | async"  (click)="addGroupToUser(group.split(',')[1])">
                                            {{group.split(',')[0]}}
                                          </mat-option>
                                        </mat-autocomplete>
                                    </div>
                                </div>
                                <div class="okta-card-body">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Group</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let usergroup of userGroups" var="profile">
                                                <td *ngIf="usergroup==='Everyone'">
                                                    <a href="">{{usergroup.profile?.name}}</a>
                                                    <p>{{usergroup.profile?.description}}</p>
                                                </td>
                                                <td *ngIf="usergroup">
                                                    <a routerLink="/admin/groups/">
                                                        {{usergroup.profile?.name}}
                                                    </a>
                                                    <span class="fa fa-close float-right p-2 text-primary" (click)="openRemoveModal(groupConfirm,usergroup.id)"></span>
                                                    <p>{{usergroup.profile.description}}</p>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4> Groups</h4>
                            <p><a routerLink="/admin/groups">Groups</a> 
                                allow you to manage app assignments and user profile attributes more efficiently.
                            </p>
                            <h4>Converting Assignments</h4>
                            <p>Application access and user profile attributes can be converted from being individually-managed to group-managed. You can convert assignments from an app's Group tab.</p>
                        </div>
                    </div>
                </div> 
            </mat-tab>
            <mat-tab label="Profile">
                <div class="container-fluid">
                    <h2>Profile</h2>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="okta-card">
                                <table class="table-0">
                                    <tr>
                                        <td>Attributes</td>
                                        <td></td>
                                        <td><span class="text-primary"> Edit</span></td>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h3>Profile</h3>
                            <p>A profile is a collection of attributes that describe a user in Okta. Some apps and directories can sync attributes with Okta.</p>
                        </div>
                    </div>
                </div>
            </mat-tab>
          </mat-tab-group>
        </div>
    </div>
</div>

<ng-template #groupConfirm let-modal>
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
        <h2> Remove Person from  Group</h2>
        <h4>Are you sure you want to remove <strong>{{firstName +' '+lastName }}</strong> from <strong>{{userGroups[0].profile.name}}</strong> Group?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="deleteUserFromGroup()">Remove</button>
        <button class="btn" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
</ng-template>
