.btn{
    cursor:none;
    color:#074aad;
}
.btn:hover{
    background-color:#074aad;
    text-overflow: clip;
    color: #fff;
}
.dropdown-toggle>ul{
    background-color: #fff;
    list-style: none;
}

.dropdown-toggle>ul li a{
    list-style: none;
    height: 1rem;
    text-decoration: none;
    color: black;
    width: 250px;
    padding: 4px;
}
.dropdown-toggle>ul li:hover{
    background-color: #dee;
}
.dropdown-menu{
    padding: 0;
    height: 5rem;
    width: 20%;
}

.dropdown-toggle>ul li{
    background-color: #fff;
    list-style: none;
    border-bottom: 1px solid #deee;
    height: 2.rem;
}
.mat-tab-group {
    margin-bottom: 20px;
    margin-top: 20px;
    text-justify: auto;
    left: 0;
}
.mat-tab-label{
    width: 20px;
}

.search-box{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #dedede;
    overflow-y: auto;
    box-shadow: 5px 10px 8px 10px #c9c5c5;
    z-index: -1;
}

/* search item group */

.ta-results.list-group{
    max-width: 400px;
    overflow: auto;
    max-height: 75vh;
    border: 1px solid #ccc;
}
.typeahead-wrap .list-group-item {    
    width:100%;
    text-align: left;
    position: relative;
    display: block;
    padding: 5px 10px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.typeahead-wrap .list-group-item{
    width:100%;
    text-align: left;
}
.typeahead-wrap .list-group-item.active{
    background-color: #ccc;
}

.typeahead-wrap .list-group-item .item-name {
    font-weight: bold;
}