<div class="container-fluid">
    <div class="row  px-4 py-4">
        <div class="col-sm-12">
             <span class="fa fa-book fa-2x font-weight-bold"> Directory Integrations</span>
             <span class="fa fa-question-circle float-right"> help</span>
        </div>
    </div>
    <div class="row px-4">
        <div class="col-sm-12">
            <div class="button-group">
                <button class="btn  border-primary text-primary btn-md dropdown-toggle m-1" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                <span class="fa fa-plus"> Add Directory</span> 
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item fa fa-book"> Add Active Directory</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item fa fa-book"> Add LDAP Directory</a>
                </div>
              </button>
            </div>
        </div>
    </div>

    <div class="row px-4">
        <div class="col-sm-6 col-md-6 col-lg-12">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Active - 0" href="#Active-tab">
                    <div class="container py-2">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="border" style="border-radius:6px;">
                                    <p class="text-center py-4">No directories added
                                        Add a directory to integrate your Active Directory or LDAP domain with Okta.</p>
                                    <div class="button-group p-4" style="display: flex;flex-wrap: nowrap;justify-content: center;">
                                        <button class="btn border border-primary mr-2 text-primary"> Add Active Directory</button>
                                        <button class="btn border border-primary text-primary"> Add LDAP Directory</button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p class="h6 font-weight-bold">Directories</p>
                                <p>Directories allow you to import people from existing sources.</p>
                                <p class="h6 font-weight-bold">Importing People</p>
                                <p>You can automatically import people from Active Directory as well as select apps.</p>

                                <p class="h6 font-weight-bold">Active Directory</p>
                                <p>Importing people from Active Directory gives you the ability to synchronize changes to Okta and sign-in using your Windows network credentials.</p>
                                <button class="btn border-primary fa fa-plus-circle text-primary"> Add AD Domain/Agents</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Inactive - 0">
                    <div class="container py-2">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="border" style="border-radius:6px;">
                                    <p class="text-center py-4">No inactive directories found</p>  
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p class="h6 font-weight-bold">Directories</p>
                                <p>Directories allow you to import people from existing sources.</p>
                                <p class="h6 font-weight-bold">Importing People</p>
                                <p>You can automatically import people from Active Directory as well as select apps.</p>

                                <p class="h6 font-weight-bold">Active Directory</p>
                                <p>Importing people from Active Directory gives you the ability to synchronize changes to Okta and sign-in using your Windows network credentials.</p>
                                <!-- <button class="btn border-primary fa fa-plus-circle text-primary"> Add AD Domain/Agents</button> -->
                            </div>
                        </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>
