*{
    margin: 0%;
    padding: 0%;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-style: normal;
}
body{
    margin: 0%;
    padding: 0%;
    
}
span.fa.fa-check {
    top: 20px;
    right:30px;
    size: a5;
    color: white;
    width: 20px;
    height: 20px;
    background: rgb(128, 149, 175);
    padding: 3px;
    bottom: 0;
    position: absolute;
}
img.p-2.img-thumbnail.active {
    background-color: #8ea5bbe0;
}
.activeWell {
 overflow-y: scroll;
 height: 99vh;
}

.activation-box{
  width:500px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border: 1px solid #8ea5bbe0;
  padding: 4px;
  margin:30px 30%;
  border-radius: 4px;
  height:auto;
}
.card-header{
    padding: 20px;
}
.alert{
    text-align: center;
    align-items: center;
}
