<div class="container-fluid activeWell">
    <div class="alert alert-warning px-2">
        <strong class="h4 text-center">Okta</strong>
    </div>
    <div class="activation-box p-4">
        <p class="h4 text-center">Welcome {{name}} to okta!!, Please configure your password for activation</p>
        <div class="card">
            <form [formGroup]="activationForm" class="form-horizontal" (ngSubmit)="onSubmit(activationForm.value)" enctype="multipart/form-data">
            <div class="card-header bg-light">
                <div class="form-group pl-4 pr-4" *ngIf="invalidForm">
                    <div class="input-group border light-border">
                        <div class="input-group-prepend">
                          <div class="input-group-text fa fa-exclamation-circle px-2 text-white bg-danger" id="btnGroupAddon"></div>
                          <p class="px-1 p-1 text-muted">We found some errors. Please re-view the form and make corrections.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="fa fa-key text-justify px-2 text-info"></span>
                    <label for="newPwd">Enter New Password</label>
                    <input type="password" formControlName="newPassword" class="form-inline ml-4 col-10">
                    <div *ngIf="newPassword && newPassword.invalid && newPassword.touched" class="px-3">
                        <ul class="px-4">
                            <li class="text-danger">This field sould not blank</li>
                            <li  class="text-danger">New password at least 8 charachters</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <span class="px-3"></span>
                    <label for="rePwd">Repeat Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-inline ml-4 col-10">
                    <span class="text-danger px-4" *ngIf="activationForm.get('confirmPassword').errors && activationForm?.get('confirmPassword')?.errors?.passwordMismatch">Confirm password did not match</span>
                </div>
            </div>
            <div class="card-body bg-light p-4 border-bottom">
                <div class="form-group">
                    <span class="fa fa-lock text-justify px-2 text-info"></span>
                    <label for="newPwd">Choose a forgot password question</label>
                    <select class="form-inline ml-4 col-10" formControlName="recoveryQuestion">
                        <option value="" disabled>---choose your recovery questions---</option>
                        <option value="What is the food you liked as child?" selected>What is the food you liked as child?</option>
                        <option value="What is your name of pet?">What is your name of pet?</option>
                    </select>
                </div>
                <div class="form-group">
                    <span class="px-3"></span>
                    <label for="newPwd">Answer</label>
                    <input type="text" formControlName="recoveryAnswer" class="form-inline ml-4 col-10">
                    <span class="px-4 text-danger" *ngIf="recoveryAnswer && recoveryAnswer.invalid && recoveryAnswer.touched">This field should not blank</span>
                </div>
            </div>
            <div class="card-body bg-light m-auto pl-4">
                <div class="form-group p-4">
                    <div class="input-group border light-border" *ngIf="statusErr">
                        <div class="input-group-prepend">
                          <div class="input-group-text fa fa-exclamation-circle px-2 text-white bg-danger" id="btnGroupAddon"></div>
                          <p class="px-1 text-muted">Please, Select an image for security.</p>
                        </div>
                    </div>
                    <span class="px-2 fa fa-image text-info"></span>
                    <label for="newPwd">Click a picture to choose a security image</label>
                    <p class="text-muted px-4">Your security image gives you additional assurance that you are logging into Okta, and not a fraudulent website.</p>
                    <div class="row px-4">
                        <div class="col-sm-4" *ngFor="let image of imagesList">
                            <span class="fa fa-check d-none" id="{{image.caption+1}}"></span>
                                <!-- <input type="image" src="{{image.url}}" class="p-2 img-thumbnail {{image.caption}}" (click)="onSelectImage(image.url,$event)" id="{{image.caption}}"> -->
                                <img src="{{image.url}}" alt="" class="p-2 img-thumbnail {{image.caption}}" (click)="onSelectImage(image.url,$event)" id="{{image.caption}}">
                                <!-- <input type="file" name='image' formControlName="image" accept="image"> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="float-right btn btn-sm border m-2 p-1">Create My Account</button>
            </div>
        </form>
        </div>
    </div>
</div>
