<div class="container-fluid p-2">
  <div class="row m-1">
    <div class="col-sm-12">
      <span class="h2 fa fa-user" i18n="@@people"> People</span>
      <span class="h6 p-4 fa fa-question-circle  float-right" i18n="@@help"> Help</span>
    </div>
    <div class="col-sm-12">
      <button class="btn  border-primary text-primary btn-md fa fa-user-plus" (click)="addPerson(mymodal)" i18n="@@add"> Add
        Person</button>
      <button class="btn  border-primary text-primary btn-md fa fa-refresh m-1" i18n="@@reset-pwd"> Reset Passwords</button>
      <button class="btn  border-primary text-primary btn-md fa fa-refresh m-1" i18n="@@reset-mltf"> Reset Multifactors</button>
      <button class="btn  border-primary text-primary btn-md dropdown-toggle m-1" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
        <span i18n="@@more-action">More Actions</span> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item fa fa-user-check" (click)="openCSVDialog(csvDialog)" i18n="@@import-user"> Import users from CSV</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" i18n="@@activated" href="#" routerLink="/admin/user/activate">Activated</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" i18n="@@deactivate" routerLink="/admin/user/deactivate">Deactivate</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" i18n="@@exp-pwd">Expire Passwords</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" i18n="@@unlock-people">Unlock people</a>
        </div>
      </button>
    </div>
  </div>

  <div class="row m-1">
    <div class="col-sm-12">
      <div class="card-box">
        <div class="card-header-sm border-bottom bg-light">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" [(ngModel)]="searchUserItems" class="form-control col-3" i18n i18n-placeholder="@@search" placeholder="Search...">
          </div>
        </div>
        <div class="card-body-sm">
          <div class="container-fluid">
            <div class="row">
              <div class="nav flex-column nav-pills border" id="v-pills-tab" role="tablist"
                aria-orientation="horizontal" style="width:25%;">
                <a class="nav-link text-dark active d-auto" id="v-pills-Everyone-tab" data-toggle="pill"
                  href="#v-pills-Everyone" role="tab" aria-controls="v-pills-Everyone" aria-selected="true">
                   <span i18n="@@everyone">Everyone</span> 
                  <span class="float-right">{{userCounts}}</span>
                </a>
                <a class="nav-link text-dark d-auto" id="v-pills-Stagged-tab" data-toggle="pill" href="#v-pills-Stagged"
                  role="tab" aria-controls="v-pills-Stagged" aria-selected="false">
                  <span i18n="@@stagged">Stagged</span> 
                  <span class="float-right">{{staggedCount}}</span>
                </a>
                <a class="nav-link text-dark d-auto" id="v-pills-Pending-tab" data-toggle="pill" href="#v-pills-Pending"
                  role="tab" aria-controls="v-pills-Pending" aria-selected="false">
                  <span i18n="@@pending">Pending user action</span> 
                  <span class="float-right">{{pendingUserActionCount}}</span>
                </a>
                <a class="nav-link text-dark d-auto" id="v-pills-Active-tab" data-toggle="pill" href="#v-pills-Active"
                  role="tab" aria-controls="v-pills-Active" aria-selected="false">
                  <span i18n="@@active"> Active</span>
                  <span class="float-right">{{activeCount}}</span>
                </a>
                <a class="nav-link text-dark d-auto" id="v-pills-Password-tab" data-toggle="pill"
                  href="#v-pills-Password" role="tab" aria-controls="v-pills-Password" aria-selected="false">
                  <span i18n="@@pwd-reset">Password reset</span> 
                  <span class="float-right">{{pwdResetCount}}</span>
                </a>
                <a class="nav-link text-dark d-auto" id="v-pills-Locked-tab" data-toggle="pill" href="#v-pills-Locked"
                  role="tab" aria-controls="v-pills-Locked" aria-selected="false">
                  <span i18n="@@locked"> Locked out</span>
                  <span class="float-right">{{lockedOutCount}}</span>
                </a>
                <a class="nav-link text-dark d-auto" id="v-pills-Suspended-tab" data-toggle="pill"
                  href="#v-pills-Suspended" role="tab" aria-controls="v-pills-Suspended" aria-selected="false">
                  <span i18n="@@suspend">Suspended</span>
                  <span class="float-right">{{suspendedCount}}</span>
                </a>
                <a class="nav-link text-dark d-auto" id="v-pills-Deactivate-tab" data-toggle="pill"
                  href="#v-pills-Deactivate" role="tab" aria-controls="v-pills-Deactivate"
                  aria-selected="false">
                  <span i18n="@@deactivate">Deactivate</span>
                  <span class="float-right">{{deActivateCount}}</span>
                </a>
              </div>

              <div class="tab-content" id="v-pills-tabContent" style="width: 75%;">
                <div class="tab-pane fade show active" id="v-pills-Everyone" role="tabpanel"
                  aria-labelledby="v-pills-Everyone-tab">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th i18n="@@username">Person & Username</th>
                        <th i18n="@@primary-email">Primary email</th>
                        <th i18n="@@status">Status</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!UsersInfo">
                      <div class="data-list-empty-msg">
                          <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                          <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                          <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                      </div>
                    </tbody>
                    <tbody *ngIf="UsersInfo">
                      <tr *ngFor="let usersinfo of UsersInfo |filter:searchUserItems" var="profile">
                          <td>
                            <a href="#" routerLink="/admin/user/profile/view/{{usersinfo.id}}">{{usersinfo.profile.firstName +' '+ usersinfo.profile.lastName}}</a>
                            <p class="text-muted">{{usersinfo.profile.login}}</p>
                          </td>
                          <td>{{usersinfo.profile.email}}</td>
                          <!-- <th><img src="data:image/jpeg;base64,{{usersinfo.credentials.image.data}}" alt=""></th> -->
                          <td>{{usersinfo.status}}
                              <br>
                              <a *ngIf="usersinfo.status=='STAGED'" (click)="openActivatePersonDialog(activateForm)"  style="cursor: pointer;"> Activate</a>

                          </td>
                          <!-- activateForm -->
                        <ng-template #activateForm let-modal>
                          <form>
                            <div class="modal-body">
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="modal-title">
                                    <h2>Activate Person</h2>
                                    <h3>Are you sure you want to activate this Okta user?</h3>
                                    <p>An activation email will be sent to this person informing them that their account is now active. You can edit the content of these emails on the <a href="">customize email</a>  page.</p>
                                    <div class="d-column">
                                      <a href="">Show User Activation email</a>
                                      <br>
                                      <a href="">Show Active Directory User Activation email</a>
                                    </div>
                                    
                                </div>
                                <div class="button-group float-right py-4">
                                  <button class="btn btn-md btn-primary m-auto text-white" (click)="activateUser(usersinfo.id)">Activate Person</button>
                                  <button class="btn btn-default btn-md m-auto" (click)="modal.dismiss('Cross click')">Cancel</button>
                                </div>
                            </div>
                          </form>
                        </ng-template>
                      </tr>
                  </tbody>
                  </table>
                </div>

                <div class="tab-pane fade" id="v-pills-Stagged" role="tabpanel" aria-labelledby="v-pills-Stagged-tab">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th i18n="@@username">Person & Username</th>
                        <th i18n="@@primary-email">Primary email</th>
                        <th i18n="@@status">Status</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!staggedList">
                      <div class="data-list-empty-msg">
                          <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                          <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                          <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                      </div>
                    </tbody>
                    <tbody *ngIf="staggedList">
                      <tr *ngFor="let stagged of staggedList">
                        <td>
                          <a href="#" routerLink="/admin/user/profile/view/{{stagged.id}}">{{stagged.profile.firstName +' '+ stagged.profile.lastName}}</a>
                          <p class="text-muted">{{stagged.profile.login}}</p>
                        </td>
                        <td>{{stagged.profile.email}}</td>
                        <td>{{stagged.status}}
                            <br>
                            <a *ngIf="stagged.status=='STAGED'" (click)="activateUser(stagged.id)" style="cursor: pointer;"> Activate</a>
                        </td>
                      </tr>
                  </tbody>
                  </table>
                </div>

                <div class="tab-pane fade" id="v-pills-Pending" role="tabpanel" aria-labelledby="v-pills-Pending-tab">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th i18n="@@username">Person & Username</th>
                        <th i18n="@@primary-email">Primary email</th>
                        <th i18n="@@status">Status</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!pendingList">
                      <div class="data-list-empty-msg">
                          <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                          <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                          <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                      </div>
                    </tbody>
                    <tbody *ngIf="pendingList">
                      <tr *ngFor="let pending of pendingList">
                        <td>
                          <a href="#" routerLink="/admin/user/profile/view/{{pending.id}}">{{pending.profile.firstName +' '+ pending.profile.lastName}}</a>
                          <p class="text-muted">{{pending.profile.login}}</p>
                        </td>
                        <td>{{pending.profile.email}}</td>
                        <td>{{pending.status}}</td>
                      </tr>
                  </tbody>
                  </table>
                </div>

                <div class="tab-pane fade" id="v-pills-Active" role="tabpanel" aria-labelledby="v-pills-Active-tab">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th i18n="@@username">Person & Username</th>
                        <th i18n="@@primary-email">Primary email</th>
                        <th i18n="@@status">Status</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!activeList">
                      <div class="data-list-empty-msg">
                          <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                          <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                          <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                      </div>
                    </tbody>
                    <tbody *ngIf="activeList">
                      <tr *ngFor="let active of activeList">
                        <td>
                          <a href="#" routerLink="/admin/user/profile/view/{{active.id}}">{{active.profile.firstName +' '+ active.profile.lastName}}</a>
                          <p class="text-muted">{{active.profile.login}}</p>
                        </td>
                        <td>{{active.profile.email}}</td>
                        <td>{{active.status}}</td>
                      </tr>
                  </tbody>
                  </table>
                </div>

                <div class="tab-pane fade" id="v-pills-Password" role="tabpanel" aria-labelledby="v-pills-Password-tab">
                 <table class="table table-sm">
                    <thead>
                      <tr>
                        <th i18n="@@username">Person & Username</th>
                        <th i18n="@@primary-email">Primary email</th>
                        <th i18n="@@status">Status</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!PasswordResetInfo">
                      <div class="data-list-empty-msg">
                          <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                          <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                          <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                      </div>
                    </tbody>
                    <!-- <tbody *ngIf="UsersInfo">
                      <tr *ngFor="let usersinfo of UsersInfo">
                          <td>{{usersinfo.name}}</td>
                      </tr>
                  </tbody> -->
                  </table>
                </div>

                <div class="tab-pane fade" id="v-pills-Locked" role="tabpanel" aria-labelledby="v-pills-Locked-tab">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th i18n="@@username">Person & Username</th>
                        <th i18n="@@primary-email">Primary email</th>
                        <th i18n="@@status">Status</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!LockedInfo">
                      <div class="data-list-empty-msg">
                          <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                          <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                          <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                      </div>
                    </tbody>
                    <!-- <tbody *ngIf="UsersInfo">
                      <tr *ngFor="let usersinfo of UsersInfo">
                          <td>{{usersinfo.name}}</td>
                      </tr>
                  </tbody> -->
                  </table>
                </div>

                <div class="tab-pane fade" id="v-pills-Suspended" role="tabpanel"
                  aria-labelledby="v-pills-Suspended-tab">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th i18n="@@username">Person & Username</th>
                        <th i18n="@@primary-email">Primary email</th>
                        <th i18n="@@status">Status</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!suspendedList">
                      <div class="data-list-empty-msg">
                          <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                          <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                          <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                      </div>
                    </tbody>
                    <tbody *ngIf="suspendedList">
                      <tr *ngFor="let suspend of suspendedList">
                          <!-- <td>{{suspend.profile.firstName}} {{suspend.profile.lastName}}</td> -->
                          <a href="#" routerLink="/admin/user/profile/view/{{suspend.id}}">{{suspend.profile.firstName +' '+ suspend.profile.lastName}}</a>
                          <p class="text-muted">{{suspend.profile.login}}</p>
                          <td>{{suspend.profile.email}}</td>
                          <td>{{suspend.status}}</td>
                      </tr>
                  </tbody>
                  </table>
                </div>

                <div class="tab-pane fade" id="v-pills-Deactivate" role="tabpanel"
                  aria-labelledby="v-pills-Deactivate-tab">
                 <table class="table table-sm">
                    <thead>
                      <tr>
                        <th i18n="@@username">Person & Username</th>
                        <th i18n="@@primary-email">Primary email</th>
                        <th i18n="@@status">Status</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!deactivatedList">
                      <div class="data-list-empty-msg">
                          <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                          <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                          <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                      </div>
                    </tbody>
                    <tbody *ngIf="deactivatedList">
                      <tr *ngFor="let deactivate of deactivatedList">
                        <td>
                          <a href="#" routerLink="/admin/user/profile/view/{{deactivate.id}}">{{deactivate.profile.firstName +' '+ deactivate.profile.lastName}}</a>
                          <p class="text-muted">{{deactivate.profile.login}}</p>
                        </td>
                        <td>{{deactivate.profile.email}}</td>
                        <td>{{deactivate.status}}</td>
                      </tr>
                  </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #mymodal let-modal>
    <form [formGroup]="userForm" id="form" class="form-horizontal" (ngSubmit)="saveUsers(userForm.value)">
    <div class="modal-header bg-light">
      <h4 class="modal-title" id="modal-basic-title" i18n="@@add-title">Add Person</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="container">
          <div class="form-group row">

            <div class="input-group border light-border m-2" *ngIf="userInvalidForm">
              <div class="input-group-prepend">
                  <div class="input-group-text fa fa-exclamation-circle px-2 text-white bg-danger" id="btnGroupAddon"></div>
                  <p class="px-1 p-1 text-muted">We found some errors. Please re-view the form and make corrections.</p>
              </div>
            </div>

            <label for="userType" class="col-sm-4 col-form-label" i18n="@@type-label">{{helper.labelUserTypes}} <span
                class="fa fa-question-circle"></span></label>
            <div class="col-sm-8">
              <select class="form-control" id="userType">
                <option value="user" i18n="@@userType">User</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="firstName" class="col-sm-4 col-form-label" i18n="@@firstName">{{helper.labelFirstName}}</label>
            <div class="col-sm-8">
              <input type="text" formControlName="firstName"  class="form-control">
              <span class="fa fa-exclamation-circle text-danger" *ngIf="firstName && firstName.invalid && firstName.touched" i18n="@@e-m-firstname"> The field cannot be left blank</span>
              <span class="fa fa-exclamation-circle text-danger" *ngIf="valid" i18n="@@e-m-firstname"> The field cannot be left blank</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="lastName" class="col-sm-4 col-form-label" i18n="@@lastName">{{helper.labelLastName}}</label>
            <div class="col-sm-8">
              <input type="text" formControlName="lastName"  class="form-control">
              <span class="fa fa-exclamation-circle text-danger" *ngIf="getLastName && getLastName.invalid && getLastName.touched" i18n="@@e-m-lastname"> The field cannot be left blank</span>
              <span class="fa fa-exclamation-circle text-danger" *ngIf="valid" i18n="@@e-m-firstname"> The field cannot be left blank</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="username" class="col-sm-4 col-form-label" i18n="@@userName">{{helper.labelUsername}}</label>
            <div class="col-sm-8">
              <input type="text" formControlName="userName" name="username" id="username" class="form-control">
              <span class="fa fa-exclamation-circle text-danger" *ngIf="getUserName && getUserName.invalid && getUserName.touched" i18n="@@e-m-username"> The field cannot be left blank, Username may only contain UTF-8 encoded characters</span>
              <span class="fa fa-exclamation-circle text-danger" *ngIf="valid" i18n="@@e-m-firstname"> The field cannot be left blank</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="p-email" class="col-sm-4 col-form-label" i18n="@@p-email">{{helper.labelPrimaryEmail}}</label>
            <div class="col-sm-8">
              <input type="email"  formControlName="primaryEmail" name="pri-email" id="pri-email" class="form-control">
              <span class="fa fa-exclamation-circle text-danger" *ngIf="getPrimaryEmail && getPrimaryEmail.invalid && getPrimaryEmail.touched" i18n="@@e-m-pemail"> Invalid email</span>
              <span class="fa fa-exclamation-circle text-danger" *ngIf="valid" i18n="@@e-m-firstname"> The field cannot be left blank</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="s-email" class="col-sm-4 col-form-label" i18n="@@s-email">{{helper.labelSecondaryEmail}}</label>
            <div class="col-sm-8">
              <input type="email" formControlName="secondaryEmail" name="s-email" id="s-email" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="groups" class="col-sm-4 col-form-label" i18n="@@f-groups">{{helper.labelGroups}}</label>
            <div class="col-sm-8">
              <!-- <input type="email" name="groups" id="groups" class="form-control"> -->
              <select formControlName="groups" id="" class="form-control" multiple="multiple">
                    <option *ngFor="let items of groupListItems" value="{{items.id}}" i18n>{{items.profile.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label" i18n="@@f-password">{{helper.labelPassword}} <span
                class="fa fa-question-circle"></span></label>
            <div class="col-sm-8">
              <select #user  class="form-control userType" (change)="getUserType(user.value)">
                <option value="user" i18n="@@f-user">{{helper.optionSetbyUser}}</option>
                <option value="admin" i18n="@@f-admin">{{helper.optionSetbyAdmin}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
              <input type="password" formControlName="password" id="password" placeholder="Enter password" class="form-control d-none" required>
              <span class="fa fa-exclamation-circle text-danger getPassword" *ngIf="getPassword && getPassword.invalid && getPassword.errors?.required && getPassword.touched" id="p-err" i18n="@@f-m-password"> The field cannot be left blank</span>
              <!-- <span class="fa fa-exclamation-circle text-danger getPassword"  id="p-err"> The field cannot be left blank</span> -->
            </div>
          </div>
          <div class="form-group row terms-user">
            <label for="password" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
              <input type="checkbox"  formControlName="terms_user" name="" id="terms"> <span  i18n="@@f-checkbox-user"> Send user activation email now </span>
            </div>
          </div>
          <div class="form-group row terms-admin d-none">
            <label for="password" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
              <input type="checkbox"  formControlName="terms_admin" name="" id="terms-admin"> <span i18n="@@f-checkbox-admin"> User must change password on first login </span>
            </div>
          </div>
       
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" i18n="@@f-submit">{{helper.buttonSave}}</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" i18n="@@f-cancel">{{helper.buttonCancel}}</button>
    </div>
  </form>
  </ng-template>

  <!-- CSV file upload dialog for users -->
  <ng-template #csvDialog let-modal>
    <form>
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
        <h2>Import Users from CSV</h2>
        <h4>Format your CSV file (max 10MB and 10,000 users) according to <a href="#">this template.</a></h4>
        <div class="container">
            <label for="csv">CSV</label>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file"  class="custom-file-input" id="inputGroupFile03" (change)="fileChange($event)">
                  <label class="custom-file-label" for="inputGroupFile03" id="file"></label>
                  
                </div>
              </div>
                <button class="btn border-primary " (click)="uploadCSVFile()">Upload CSV</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn  border" type="submit" disabled>Next</button>
        <button class="btn text-primary" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </form>
</ng-template>

