.card-box{
    border-radius: 6px;
    border: solid 1px #dedede;
}
.card-box>.card-header-sm{
    padding: 0.875rem;
}
.card-box>.card-body-sm{
    background-color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #dedede;
    border-radius: none;
}
.nav-pills .nav-link {
    border-radius:0;
}

.data-list-empty-binary {
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: #6e6e78;
    font-family: 'Courier New', serif;
    font-size: 1.1487rem;
    line-height: 1;
    word-wrap: break-word;
}
.data-list-empty-msg {
    margin: 0 auto;
    top: 0;
    left:50%;
    position: relative;
    padding: 3.42857rem 0;
}
.data-list-empty-msg {
    margin: 0 auto;
    padding: 3.42857rem 0;
}
.data-list-empty-img {
    position: absolute;
    top: 2.2em;
    left: 50%;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    
}
.data-list-head {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
}
.data-list-empty-head {
    margin-top: 0.85714rem;
    text-align: center;
    color: #212126;
    margin-right: auto;
    margin-left: auto;
}
.nav-link.active{
    background-color: #4c5a6394;
}
.btn{
    color: #000;
}
.btn:hover{
    background-color:#074aad;
    text-overflow: clip;
    color: #fff;
}
