
<nav class="navbar navbar-expand-lg navbar-light bg-white border">
    <button class="fa fa-bars btn d-"></button>
    <a class="navbar-brand" href="#">okta</a>
    <!-- <button class="h4 btn" id="menu-toggle" i18n="logo icon| use logo icons @@logo">Logo Icon</button> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class=" btn test"></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="main">
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" i18n i18n-placeholder="@@placeholder" placeholder="Search">
        </div>
      </div>
      
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

        <li>
          <ng-container>
            <button mat-button [matMenuTriggerFor]="menu" color="primary" class="btn btn-sm btn-light">
              <span class="fa fa-globe"></span>
              {{siteLanguage}}
              <span class="fa fa-caret-down fa-x2 px-2"></span>
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item href="/en">English</a>
                <a mat-menu-item href="/es">Spanish</a>
                <a mat-menu-item href="/hi">हिंदी</a>
            </mat-menu>
          </ng-container>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-dark" href="#"><span class="fa fa-question-circle text-dark"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#"><span class="fa fa-th-large size-12"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item fa fa-user" href="#"> My Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item fa fa-sign-out" (click)="logout()"> Logout</a>
          </div>
        </li>
        
      </ul>
    </div>
  </nav>
  
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white border-right sidebar" id="sidebar-wrapper">
      <ul class="list-group list-group-flush overflow-hidden">
        <li class="list-group-item list-group-item-action">
          <span i18n="@@dashboard">Dashboard</span>
          <ul class="list-group list-group-flush">
              <li class="list-group-item border-0">
                <a class="nav-link text-dark" routerLinkActive="bg-light" routerLink="dashboard" i18n="@@dashboard">Dashboard</a> 
              </li>
              <li class="list-group-item  border-0">
                <a class="nav-link text-dark">
                 <span i18n="@@task">Tasks</span>
                </a>
              </li>
              <li class="list-group-item  border-0">
                <a class="nav-link text-dark">
                  <span i18n="@@agent">Agents</span> 
                </a>
              </li>
              <li class="list-group-item  border-0">
                <a class="nav-link text-dark" i18n="@@notify">Notifications</a>
              </li>
              <li class="list-group-item  border-0">
                <a class="nav-link text-dark" i18n="@@started">Getting Started </a>
              </li>
          </ul>
        </li>
        <li class="list-group-item list-group-item-action">
          <span i18n="@@directory">Directory</span>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item  border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" routerLink="users" i18n="@@people">People</a>
            </li>
            <li class="list-group-item  border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" routerLink="groups" i18n="@@groups">Groups</a>
            </li>
            <li class="list-group-item  border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" routerLink="universaldirectory" i18n="@@profile-editor"> Profile Editor</a>
            </li>
            <li class="list-group-item  border-0" i18n="@@dir-integrate">
              <a class="nav-link text-dark" routerLinkActive="bg-light" routerLink="people/directories">Directory Integration</a> 
            </li>
            <li class="list-group-item  border-0" i18n="@@self-service-reg">Self-Service Registration</li>
            <li class="list-group-item  border-0" i18n="@@profile-source">Profile Sources</li>
        </ul>
      </li>
        <li class="list-group-item list-group-item-action ">
          <span i18n="@@applications">Applications</span> 
          <ul class="list-group list-group-flush ">
            <li class="list-group-item  border-0"> 
              <a class="nav-link text-dark" routerLinkActive="bg-light" routerLink="application" i18n="@@applications">Applications</a>
            </li>
            <li class="list-group-item  border-0" i18n="@@self-service">Self Service</li>
            
        </ul>
      </li>
        <li class="list-group-item list-group-item-action ">
          <span i18n="@@security">Security </span> 
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@general">General</a>
            </li>
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@health-ins">HealthInsight</a>
            </li>
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@auth">Authentication</a>
            </li>
            <li class="list-group-item border-0">
                <a class="nav-link text-dark" i18n="@@multifactor" routerLinkActive="bg-light" routerLink="multifactor">Multifactor</a>
            </li>
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@identy-provider">Identity Providers</a>
            </li>
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@del-auth">Deligated Authentication</a> 
            </li>
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@networks">Networks</a> 
            </li>
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@behave-detect">Behavior Detection</a> 
            </li>
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@device-trust">Device  Trust</a> 
            </li>
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@administrator">Administrators</a> 
            </li>
            <li class="list-group-item list-group-item-action border-0">
              <a class="nav-link text-dark" routerLinkActive="bg-light" i18n="@@api">API</a> 
            </li>
        </ul>
      </li>
        <li class="list-group-item list-group-item-action ">
          <span i18n="@@workflow">Workflow </span>  
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action border-0" i18n="@@automation">Automation</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@inline-hook">Inline Hooks</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@event-hook">Event Hooks</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@started">Getting Started</li>
        </ul>
      </li>
        <li class="list-group-item list-group-item-action ">
          <span i18n="@@reports">Reports </span>  
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action border-0" i18n="@@reports">Reports</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@system-logs">System Logs</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@import-mono">Import Monitoring</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@started">Getting Started</li>
        </ul>
      </li>
        <li class="list-group-item list-group-item-action ">
          <span i18n="@@settings">Settings </span>  
          <ul class="list-group list-group-flush overflow-auto">
            <li class="list-group-item list-group-item-action border-0" i18n="@@account">Account</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@feature">Features</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@appearance">Appearance</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@customization">Customization</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@email">Emails & SMS</li>
            <li class="list-group-item list-group-item-action border-0" i18n="@@download">Download</li>
        </ul>
      </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <router-outlet></router-outlet>
      <footer class="footer">
        <div class="container-fluid">
          <hr>
          <h6>&copy; All rights Reserved!!!</h6>
        </div>
      </footer>
    </div>
    <!-- /#page-content-wrapper -->
  </div>