<div class="container-fluid p-2">
  <div class="row m-1"> 
    <div class="col-sm-12">
      <span class="h4 fa fa-th-large"> Applications</span>
      <span class="h6 p-4 fa fa-question-circle  float-right"> Help</span>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body bg-white">
          <h5 class="card-title h3">Developer Edition provides a limited number of apps.</h5>
          <p class="card-text">Deactivate unused apps or check out our plans page. Contact us to find a plan that is right for your organization.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
        <button class="btn  btn-primary text-white btn-md " > Create App Integration</button>
        <button class="btn  btn-primary text-white btn-md  m-1" > Browse App Catelog</button>
        <button class="btn  border-primary text-primary btn-md m-1" > Assign Users to App</button>
        <button class="btn  border-primary text-primary btn-md dropdown-toggle m-1" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"> More
        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"> Import users from CSV</a>
          <p> This gets the latest roles, profiles and groups from apps<br> configured with user provisioning. <br>Okta uses this data when creating new users in those apps.</p>
        </div>
      </button>
    </div>
  </div>

    <div class="row m-1">
        <div class="col-sm-12">
           <div class="card-box">
             <div class="card-header-sm border-bottom bg-light">
              <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control col-3" placeholder="Search...">
              </div>
             </div>
             <div class="card-body-sm">
               <div class="row">
                <div class="col-sm-4 border-right text-transform-capital">
                  <a class="nav-link text-dark text-uppercase font-weight-bold">Status</a>
                  <a class="nav-link d-flex-block text-dark text-uppercase" routerLinkActive="bg-light" routerLink="">Active <span class="float-right">4</span></a>
                  <a class="nav-link  text-dark text-uppercase"  routerLinkActive="bg-light">Inactive <span class="float-right">0</span></a>
                </div>
                <div class="col-sm-8">
                  <ul class="list-group">
                      <li class="list-group-item">1</li>
                      <li class="list-group-item">2</li>
                      <li class="list-group-item">3</li>
                      <li class="list-group-item">1</li>
                      <li class="list-group-item">2</li>
                      <li class="list-group-item">3</li>
                      <li class="list-group-item">1</li>
                      <li class="list-group-item">2</li>
                      <li class="list-group-item">3</li>
                      <li class="list-group-item">1</li>
                      <li class="list-group-item">2</li>
                      <li class="list-group-item">3</li>
                  </ul>
                </div>
              </div>
             </div>
           </div>
        </div>
    </div>
</div>
