<div class="container-fluid">
    <div class="col-sm-12">
        <span class="fa fa-lock h2"> Multifactor</span>
    </div>
    <div class="col-sm-12">
        <mat-tab-group>
            <mat-tab label="Factor Types">
                <div class="factor-card">
                    <!-- <div class="factor-card-header"></div> -->
                    <div class="factor-card-body">
                    <div class="col-sm-3 float-left border-right h-100">
                        <mat-selection-list #list [multiple]="false">
                            <mat-list-option *ngFor="let factor of typesOffactors" [value]="factor">
                              <span>{{factor}}</span>
                            </mat-list-option>
                          </mat-selection-list>
                    </div>
                    <div class="col-sm-9 float-right p-4">
                        <span class="h3">Okta Verify</span>
                        <button class="btn float-right  border-primary text-primary btn-md dropdown-toggle m-1" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Active
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item fa fa-user-check" href="#">Deactivate</a>
                            </div>
                        </button>
                        <p>After configuring this factor, users signing in to Okta see that extra verification is required. If Okta Verify is selected they will be instructed to download the Okta Verify App. Once installed, the user will be prompted to enter the generated six digit number to gain access.</p>
                        <hr>
                        <div class="row p-4">
                            <div class="col-sm-12">
                                <span class="h4">Okta verify settings</span>
                                <span class="float-right text-info nav-link">Edit</span>
                            </div>
                            <div class="col-sm-12 p-4">
                                <input type="checkbox" name="" id="" disabled="disabled"> Enable Push Notifications
                                <br>
                                <input type="checkbox" name="" id="" disabled="disabled"> Require Touch ID and Face ID for Okta verification
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Factor Enrollment">
                <div class="factor-card">
                    <div class="factor-card-header bg-light p-3 border-bottom">
                        <button class="btn btn-primary btn-sm">Add Multifactor Policy</button>
                    </div>
                    <div class="factor-card-body">
                        <div class="col-sm-3 border vh-100 float-left">
                           <ul class="list-group list-group-flush overflow-auto list-group-light border-bottom">
                               <li class="list-group-item list-group-item-action">Default Policy</li>
                           </ul>
                        </div>
                        <div class="col-sm-9 float-right">
                            <div class="col-sm-12 p-4">
                                <h3 class="float-left font-weight-bold">Default Policy</h3>
                                <button class="btn btn-md border float-right"><span class="fa fa-pencil text-primary"> Edit</span></button>
                            </div>
                            <div class="colsm-12 p-4">
                                <table  class="table table-border-0">
                                        <tr>
                                            <td>Description </td>
                                            <td>The default policy applies in all situations if no other policy applies.</td>
                                        </tr>
                                        <tr>
                                            <td>Assigned to groups </td>
                                            <td><span class="btn btn-sm border bg-light"> Everyone</span></td>
                                        </tr>
                                        <tr>
                                            <td>Eligible Factors</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Okta verify  </td>
                                            <td>optional</td>
                                        </tr>
                                </table>
                            </div>
                            <div class="col-sm-12">
                                <div class="factor-card">
                                    <div class="factor-card-header p-2">
                                        <button class="btn btn-primary btn-sm">Add Rule</button>
                                    </div>
                                    <div class="factor-card-body h-25">
                                        <table class="table">
                                            <thead>
                                                <th>Priority</th>
                                                <th>Rule Name</th>
                                                <th>Status</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Default Rule</td>
                                                    <td>Active <span class="fa fa-info-circle float-right text-primary"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
