.factor-card{
    border-radius: 4px;
    border:1px solid #dedede;
    margin-top: 10px;
}
.factor-card-header{
    background-color: #eee;
    height: auto;
}
.factor-card-body{
    background-color: #fff;
    height:100vh;
}
/** No styles for this example. */
.mat-list-item {
    border-bottom: 1px solid #dedede;
}
