<div class="container-fluid">
    <div class="password-expired-box">
        <div class="container">
            <div class="box-contianer">
                <h2 class="text-primary text-center py-3 font-weight-bold">Okta</h2>
                <br>
                <div class="divider-left float-left"></div>
                    <div class="profile-icon">
                        <img src="../../../../assets/user.png" alt="" class="icon">
                    </div>
                <div class="divider-right float-right"></div>
                <!-- form here -->
                <div class="password-expired-form p-4">
                    <div class="title">
                        <h5 class="font-weight-bold text-center py-3 text-muted">Your Okta Password has Expired</h5>
                        <!-- <div class="alert-warning-errorbox d-none"></div> -->
                        <div class="require">
                            <p class="text-muted px-4">Password requirements</p>
                            <ul class="text-muted">
                                <li>At least 8 characters</li>
                                <li>A lowercase letter</li>
                                <li>An uppercase letter</li>
                                <li>A number</li>
                                <li>No parts of your username</li>
                            </ul>
                        </div>
                    </div>
                    <form  class="form-horizontal p-2 text-muted" [formGroup]="changeForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="" class="form-label font-weight-bold fx-2">Old Password</label>
                            <input type="text" formControlName="oldPassword" name="oldPassword" class="input-field">
                            <span *ngIf="changeForm.get('oldPassword').invalid && changeForm.get('oldPassword').touched" class="fa fa-exclamation-circle text-danger">
                                 The field cannot be blank
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label font-weight-bold">New Password</label>
                            <input type="text" formControlName="newPassword" name="newPassword" class="input-field">
                            <div *ngIf="!changeForm.valid">
                                <span class="fa fa-exclamation-circle text-danger" *ngIf="changeForm.get('newPassword').errors?.required && changeForm.get('newPassword').touched">The field cannot be blank</span> 
                                <span class="fa fa-exclamation-circle text-danger" *ngIf="changeForm.get('newPassword').invalid && changeForm.get('newPassword').errors && changeForm.get('newPassword').errors.pattern">
                                    <small>Please, enter at least 8 characters with uppercase and lowercase combination</small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label font-weight-bold">Repeat Password</label>
                            <input type="text" formControlName="repeatPassword" name="repeatPassword" class="input-field">
                            <div *ngIf="!changeForm.valid">
                                <span class="fa fa-exclamation-circle text-danger" *ngIf="changeForm.get('repeatPassword').errors?.required && changeForm.get('repeatPassword').errors?.touched ">The field cannot be blank</span> 
                                <span class="fa fa-exclamation-circle text-danger" *ngIf="changeForm.get('repeatPassword').invalid && changeForm.get('repeatPassword').errors && changeForm.get('repeatPassword').errors.pattern">
                                    <small>Please, enter at least 8 characters with uppercase and lowercase combination</small>
                                </span>
                                <span class="text-danger px-4" *ngIf="changeForm.get('repeatPassword').errors && changeForm?.get('repeatPassword')?.errors?.passwordMismatch">
                                   <small>Repeat password did not match</small> 
                                </span>
                            </div>
                           
                        </div>
                        <div class="form-group">
                            <button type="submit"  name="changePassword" class="change-password">Change Password</button>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="" class="float-right text-muted pb-2">Sign Out</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-white">
    <div class="container-fluid">
        <span class="text-left float-left text-muted">
            Powered by <a href="">Okta</a>
        </span>
        <span class="text-right float-right text-muted"><a href="">Privacy Policy</a></span>
    </div>
</footer>

