
body.mat-typography {
    background-color: #9b9999b0;
    overflow-y: auto;
}
.container-fluid {
    overflow-y: auto;
    height: 100vh;
}
   
footer{
    width: 100%;
    height:0.7rem;
    display: inline-block;
    flex-direction: row;
    padding:20px;
    position: fixed;
    bottom: 0;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-contianer{
    border: 1px solid #c5c5bc;
    margin:50px auto;
    width: 300px;
    border-radius: 2px;
    background-color: white;
    height:auto;
}
label{
    font-size:11px;
}
.divider-left{
    width:108px;
    flex-direction: row;
    background-color: #9b9999b0;
    height: 1px;
}
.divider-right{
    width:108px;
    flex-direction: row;
    background-color: #9b9999b0;
    height: 1px;
}
.profile-icon{
    width:70px;
    height:70px;
    border-radius: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    background-size: cover;
    position: relative;
    align-items: center;
    margin:-30px 115px;
    border:1px solid #9b9999b0;
    display: flex;
    flex-direction: row;
}
.profile-icon > .icon{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding:4px;
}
.input-field{
    border:1px solid #9b9999b0;
    height:2rem;
    outline: none;
    width: 14.8rem;
    border-radius: 2px;
}
.change-password{
    width:14.8rem;
    height: 2rem;
    border:none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    outline: none;
    background-color: #2947a8dc;
}

