<div class="container">
    <div class="row py-4">
        <div class="clear-fix px-4">
            <span class="fa fa-user fa-2x"> Activate People</span>
        </div>
        <div class="col-sm-12">
            <div class="group-button py-4 px-2">
                <button class="btn border-primary m-1 text-primary disabled">Activate Selected (0)</button>
                <button class="btn border-primary m-1 text-primary">Activate All (0)</button>
                <input type="checkbox" name="checkobx"> Show deactivated users
                <button class="text-info btn border-0 float-right" routerLink="/admin/users">Cancel</button>
            </div>
        </div>
    </div>
    <div class="row px-4">
        <div class="okta-card vw-100">
            <div class="okta-card-header">
                <div class="container">
                    <span class="btn py-2">Show <select name="" id="" class="btn bg-white border">
                        <option value="">10</option>
                        <option value="">25</option>
                        <option value="">50</option>
                        <option value="">100</option>
                    </select></span>
                    <div class="form-group has-search float-right py-2">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text"  class="form-control d-auto mr-4" placeholder="Search...">
                    </div>
                </div>
            </div>
            <div class="okta-card-body">
                <table class="table table-sm border-bottom">
                    <tr>
                        <th><input type="checkbox" name="person" (change)="allSelected()"> Persons & users</th>
                        <th>Primary email</th>
                        <th>Status</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let list of allActivationList">
                            <td><input type="checkbox" name="person" (change)="singleSelected()">
                                 {{list.profile.firstName+' '+list.profile.lastName}} <br>
                                    <detail class="px-4 text-muted">{{list.profile.login}}</detail>
                                </td>
                            <td>{{list.profile.email}}</td>
                            <td>{{list.status}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="okta-card-footer">
                <div class="col-sm-12">
                    <div class="float-left">
                        <h5 class="py-3">Showing</h5>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination float-right py-2" style="float: right;">
                          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="group-button py-4 px-2">
                <button class="btn border-primary m-1 text-primary disabled">Activate Selected (0)</button>
                <button class="btn border-primary m-1 text-primary">Activate All (0)</button>
                <button class="text-info btn border-0 float-right" routerLink="/admin/users">Cancel</button>
            </div>
        </div>
    </div>
</div>
