<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <i class="fa fa-edit fa-lg fa-x4 py-4"> Profile Editor</i>
        </div>
        <div class="col-sm-6">
            <span class="fa fa-question-circle float-right py-4"> Help</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Users">
                    <h2 class="px-4">Users</h2>
                    <div class="container-fluid">
                        <div class="okta-card">
                            <div class="okta-card-header">
                                <div class="col-sm-12 p-2">
                                <div class="form-group has-search float-left px-4">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text"  class="form-control d-auto" placeholder="Search...">
                                </div>
                                <button class="btn btn-primary btn-sm btn-lg btn-md text-white float-right font-weight-bold" (click)="openOktaDialog(oktaDialog)">
                                     <span class="fa fa-plus-circle"></span> Create Okta User Types</button>
                            </div>
                            </div>
                            <div class="okta-card-body">
                                <div class="container-fluid">
                                    <div class="row">
                                      <div class="nav flex-column nav-pills border-right" id="v-pills-tab" role="tablist"
                                        aria-orientation="horizontal" style="width:25%;">
                                        <a class="nav-link text-dark d-disabled d-auto" id="v-pills-Everyone-tab" data-toggle="pill"
                                          href="#v-pills-Everyone" role="tab" aria-controls="v-pills-Everyone" aria-selected="true">
                                           <span aria-disabled="true">Filters</span> 
                                          <span class="float-right"></span>
                                        </a>
                                        <a class="nav-link text-dark d-auto active" id="v-pills-all-tab" data-toggle="pill" href="#v-pills-all"
                                          role="tab" aria-controls="v-pills-all" aria-selected="false">
                                          <span>All</span> 
                                          <span class="float-right"></span>
                                        </a>
                                        <a class="nav-link text-dark d-auto" id="v-pills-Pending-tab" data-toggle="pill" href="#v-pills-Pending"
                                          role="tab" aria-controls="v-pills-Pending" aria-selected="false">
                                          <span>Okta</span> 
                                          <span class="float-right"></span>
                                        </a>
                                        <a class="nav-link text-dark d-auto" id="v-pills-Active-tab" data-toggle="pill" href="#v-pills-Active"
                                          role="tab" aria-controls="v-pills-Active" aria-selected="false">
                                          <span> Apps</span>
                                          <span class="float-right"></span>
                                        </a>
                                        <a class="nav-link text-dark d-auto" id="v-pills-Password-tab" data-toggle="pill"
                                          href="#v-pills-Password" role="tab" aria-controls="v-pills-Password" aria-selected="false">
                                          <span>Directories</span> 
                                          <span class="float-right"></span>
                                        </a>
                                        <a class="nav-link text-dark d-auto" id="v-pills-Locked-tab" data-toggle="pill" href="#v-pills-Locked"
                                          role="tab" aria-controls="v-pills-Locked" aria-selected="false">
                                          <span>Identity Providers</span>
                                          <span class="float-right"></span>
                                        </a>
                                      </div>
                        
                                      <div class="tab-content" id="v-pills-tabContent" style="width: 75%;">
                                        <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel"
                                          aria-labelledby="v-pills-all-tab">
                                          <table class="table table-sm">
                                            <thead>
                                              <tr>
                                                <th>Profile</th>
                                                <th>Types</th>
                                              </tr>
                                            </thead>
                                            <!-- <tbody>
                                              <div class="data-list-empty-msg">
                                                  <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                                                  <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                                                  <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                                              </div>
                                            </tbody> -->
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="btn btn-lx border float-left text-primary"> Okta</span>
                                                        <a href="" class="px-2"> User 1</a>
                                                        <small class="py-2">User</small>
                                                    </td>
                                                    <td>Okta</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="btn btn-lx border float-left fa fa-cog"></span>
                                                        <a href="" class="px-2"> User 2</a>
                                                        <small class="py-2">User</small>
                                                    </td>
                                                    <td>Okta</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="btn btn-lx border float-left fa fa-cog"></span>
                                                        <a href="" class="px-2"> User 3</a>
                                                        <small class="py-2">User</small>
                                                    </td>
                                                    <td>Okta</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="btn btn-lx border float-left fa fa-cog"></span>
                                                        <a href="" class="px-2"> User 4</a>
                                                        <small class="py-2">User</small>
                                                    </td>
                                                    <td>Okta</td>
                                                </tr>
                                          </tbody>
                                          </table>
                                        </div>
                        
                                        <div class="tab-pane fade" id="v-pills-Stagged" role="tabpanel" aria-labelledby="v-pills-Stagged-tab">
                                          <table class="table table-sm">
                                            <thead>
                                              <tr>
                                                <th i18n="@@username">Person & Username</th>
                                                <th i18n="@@primary-email">Primary email</th>
                                                <th i18n="@@status">Status</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <div class="data-list-empty-msg">
                                                  <p class="data-list-empty-binary">01101110011011110111010001101000011010010110111001100111<span class="data-list-empty-img fa fa-search mb-1"></span></p>
                                                  <h4 class="data-list-head data-list-empty-head text-center">Nothing to show</h4>
                                                  <h5 class="data-list-head data-list-empty-head data-list-empty-subhead">We couldn't find anyone</h5>
                                              </div>
                                            </tbody>
                                            <!-- <tbody *ngIf="UsersInfo">
                                              <tr *ngFor="let usersinfo of UsersInfo">
                                                  <td>{{usersinfo.name}}</td>
                                              </tr>
                                          </tbody> -->
                                          </table>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="okta-card-footer"></div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Groups">
                    <h2 class="px-4">Groups</h2>
                    <div class="container-fluid">
                        <div class="okta-card">
                            <div class="okta-card-body">
                                <table class="table table-sm">
                                    <thead>
                                        <th>Profile</th>
                                        <th>Types</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="btn btn-md border">Okta</span>
                                                <a href="" class="px-2">Okta Group</a>
                                            </td>
                                            <td>Okta</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<!-- ngTemplate for Okta users -->
<ng-template #oktaDialog let-modal>
    <form class="form-horizontal">
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
        <div class="modal-title">
            <h2>Create Okta User Types</h2>
        </div>
        <div class="container">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="userName" class=" py-2">Display name:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="" id="" class="form-control">
                        <span class="text-center">50 Charachters remaining</span>
                    </div>
                    
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="userName" class="py-2">Variable name:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="" id="" class="form-control">
                        <span>50 Charachters remaining</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="button-group float-right py-2">
                    <button class="btn btn-md btn-primary text-white mr-1">Save</button>
                    <button class="btn btn-md btn-light text-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
  </form>
</ng-template>

<!-- End here!! -->
