<div class="container-fluid p-2">
  
    <div class="row m-1">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header bg-white font-weight-bold" i18n="@@overview">
              Overview
            </div>
            <div class="card-body bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="text-primary" i18n="@@users">Users <span class="fa fa-info-circle text-dark"></span></h6>
                            <div class="row">
                              <div class="col-sm-1">
                                  <span class="h1">7</span>
                              </div>
                              <div class="col-sm-8">
                                <span class="text-success size-12">40%</span>
                                  <p class="text-dark" style="font-size:12px;">Last 7 days</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4">
                          <h6 class="text-primary" i18n="@@groups">Groups</h6>
                          <div class="row">
                            <div class="col-sm-1">
                                <span class="h1">1</span>
                            </div>
                            <div class="col-sm-8">
                              <span class="text-success font-weight-bold">100%</span>
                                <p class="text-dark" style="font-size:12px;">Last 7 days</p>
                            </div>
                         </div>
                        </div>
                        <div class="col-sm-4">
                          <h6 class="text-primary" i18n="@@sso-apps">SSO Apps</h6>
                          <div class="row">
                              <div class="col-sm-6">
                                  <span class="h1">6</span>
                              </div>
                              <div class="col-sm-6"></div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <span class="float-right">Updated at 13 Oct, 08:44</span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header bg-white font-weight-bold" i18n="@@status"> Status</div>
            <div class="card-body bg-white">
              <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="text-primary">Okta Service</h6>
                        <span class="fa fa-circle text-success"></span>
                        <span> Operational</span>
                    </div>
                    <div class="col-sm-4">
                      <h6 class="text-primary">Agents</h6>
                      <div class="row">
                        <div class="col-sm-12">
                          <span>No agents added</span>
                        </div>
                     </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>