*{
    margin: 0%;
    padding: 0%;
}
html{
    margin: 0%;
    padding: 0%;
    background-color: rgba(84, 85, 84, 0.933);
}

.login-box{
    border: 1px solid #c5c5bc;
    margin:50px auto;
    width: 300px;
    border-radius: 2px;
    background-color: white;
    align-items: center;
    display: flex;
    height: auto;
    justify-content: flex-start;
    align-content: space-around;
    flex-direction: column;
}
.login-box > .logo-circle{
    width:50px;
    height:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:999;
    display: flex;
    margin:-20px auto;
    border-radius: 100px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.login-box >.box-content{
    padding: 10px;
}

 h2{
    text-align: center;
}
.divider-left{
    width:108px;
    flex-direction: row;
    background-color: #9b9999b0;
    height: 1px;
}
.divider-right{
    width:108px;
    flex-direction: row;
    background-color: #9b9999b0;
    height: 1px;
}

.input-field{
    border:1px solid #9b9999b0;
    height:2rem;
    outline: none;
    width: 14.8rem;
    border-radius: 2px;
}
.login-password{
    width:14.8rem;
    height: 2rem;
    border:none;
    border-radius: 2px;
    color: #fff;
    cursor: initial;
    outline: none;
    background-color: #2947a8dc;
}
.login-checkbox{
    width:16px;
    height:16px;
    border:none;
    outline: none;
}
.light-border{
    border: 1px solid #5f5f5e;
    border-radius: 2px;
}