<div class="login-box">
    <h2 class="text-info font-weight-bold py-2">Okta</h2>
    <br>
    <div class="logo-circle" *ngIf="!renderdImg">
            <img src="../../../assets/user.png" alt="" width="65px" height="65px" class="m-0">
    </div>
    <div class="logo-circle" *ngIf="renderdImg">
            <img src="data:image/jpeg;base64,{{renderdImg.data}}" alt="" width="50px" height="50px" style="border-radius: 100%; padding: 2px;">
    </div>
    <hr>
    <div class="box-content">
        <h5 class="text-center py-4">Sign In</h5>
        <div class="form-group pl-4 pr-4" *ngIf="errMsg">
            <div class="input-group border light-border">
                <div class="input-group-prepend">
                  <div class="input-group-text fa fa-exclamation-circle px-2 text-white bg-danger" id="btnGroupAddon"></div>
                  <p class="px-1 p-1 text-muted">{{errMsg}} !!</p>
                </div>
                 
            </div>
        </div>
        <form [formGroup]="loginForm" class="form-horizontal p-4" (ngSubmit)="onSubmit()">
        <div class="form-group" >
            <label for="username">Username</label>
            <input type="email" formControlName="username" id="username" placeholder=" User Name" class="input-field" (blur)="getImageOfUser()">
            <span *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched" class="fa fa-exclamation-circle text-danger"> Please, enter a username</span>
        </div>
        <div class="form-group">
            <label for="pwd">password</label>
            <input type="password" formControlName="password" id="password" placeholder=" Password" class="input-field">
            <span *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="fa fa-exclamation-circle text-danger"> Please, enter a password</span>
        </div>
        <div class="form-group py-2">
             <input type="checkbox" name="terms" class="login-checkbox py-1"><span class="mb-2 text-muted px-1">Remember me</span> 
            <!-- <a href="" class="text-right float-right">Forget Password?</a> -->
        </div>
        <div class="form-group py-2">
            <button type="submit" name="" id="" class="login-password text-white">Sign In</button>
        </div>
        <div class="form-group py-2">
            <a routerActiveLink="text-muted" (click)="onToggle()">Need help signing in?</a>
            <div  *ngIf="!isShowDiv">
                <a href="" class="nav-link py-1 text-muted">Forget password?</a>
                <a href="" class="nav-link py-1 text-muted">Help</a>
            </div>
        </div>
        </form>
    </div>
</div>
