<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 m-2">
            <span class="fa fa-users h4"> Groups</span>
            <span class="fa fa-question-circle float-right"> Help</span>
        </div>
        <div class="col-sm-12 m-2">
            <nav>
                <div class="nav nav-tabs border-bottom-info" id="nav-tab" role="tablist">
                    <a class="nav-link active " id="nav-home-tab" data-toggle="tab" href="#nav-all" role="tab"
                        aria-controls="nav-home" aria-selected="true">All</a>
                    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-rules" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Rules</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active p-2" id="nav-all" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header">
                                <div class="float-left">
                                    <button class="btn bg-white border text-primary btn-md fa fa-user-plus"
                                        (click)="openGroupDialog(addgroup)"> Add Group</button>
                                </div>
                                <div class="form-group has-search float-right">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" [(ngModel)]="searchValue" class="form-control" placeholder="Search...">
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <th>Source</th>
                                        <th>Name</th>
                                        <th>People</th>
                                        <th>Apps</th>
                                        <th>Directories</th>
                                    </thead>
                                    <tbody class="tbody-sm">
                                        <tr *ngFor="let group of Groups | filter:searchValue" var="profile"> 
                                            <td><span class="fa fa-circle text-primary"></span></td>   
                                            <td>
                                               <a routerLink="{{group.id}}">{{group.profile.name}}</a><br>
                                               <small class="text-muted" >{{group.profile.description}}</small>
                                            </td>
                                            <td>
                                                <span *ngIf="group.userIds">{{group.userIds.length}}</span>
                                                <span *ngIf="!group.userIds">{{0}}</span>
                                            </td>
                                            <td >
                                                <span *ngIf="group.appIds">{{group.appIds.length}}</span>
                                                <span *ngIf="!group.appIds">{{0}}</span>
                                            </td>
                                            <td >
                                                <span *ngIf="group.directoryIds">{{group.directoryIds.length}}</span>
                                                <span *ngIf="!group.directoryIds">{{0}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-rules" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="tab-pane fade show active p-2" id="nav-all" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-header">
                                    <div class="float-left">
                                        <button class="btn bg-white border text-primary btn-md fa fa-plus-circle" (click)="openRuleDialog(ruledialog)"> Add
                                            Rule</button>
                                    </div>
                                    <div class="form-group has-search float-right">
                                        <span class="fa fa-search form-control-feedback"></span>
                                        <input type="text" class="form-control" placeholder="Search...">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>Name</th>
                                            <th>Status</th>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #addgroup let-modal>
        <form action="" id="form" [formGroup]="groupForm" class="form-horizontal" (ngSubmit)="addGroups(groupForm.value)">
        <div class="modal-header bg-light">
            <h2 class="modal-title" id="modal-basic-title">Add Groups</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                    <div class="form-group row">
                        <label for="{{name}}" class="col-sm-4 col-form-label">{{helper.labelName}}</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="name"   class="form-control">
                            <span class="text-danger" *ngIf="getName && getName.invalid && getName.touched">This name field required!</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">{{helper.labelDescription}}</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="description" required="required" class="form-control">
                            <span class="text-danger" *ngIf="getDescription && getDescription.invalid && getDescription.touched">This description field required!</span>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="groupForm.invalid">{{helper.buttonSave}}</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{helper.buttonCancel}}</button>
        </div>
    </form>
    </ng-template>

    <!-- Rule dialog open here!! -->
    <ng-template #ruledialog let-modal>
        <div class="modal-header bg-light">
            <h2 class="modal-title" id="modal-basic-title">Add Rules</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form action="" id="form" class="form-horizontal">
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">{{helper.labelName}} <span
                                class="fa fa-question-circle"></span></label>
                        <div class="col-sm-8">
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">{{helper.labelDescription}}</label>
                        <div class="col-sm-8">
                            <input type="text" name="description" id="description" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">{{helper.buttonSave}}</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{helper.buttonCancel}}</button>
        </div>
    </ng-template>
   