.not-member-table tbody tr:hover{
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.342);
}
.not-member-table tbody tr span{
    display: none;
    height: auto;
}


.not-member-table tbody tr:hover span{
    display: block;
    height: 1rem;
    padding: 20px;
    text-align: center;
}

/* members table  */
.members-table tbody tr:hover{
    cursor: pointer;
    background-color: rgba(128, 0, 0, 0.342);
}
.members-table tbody tr span{
    display: none;
    height: auto;
}


.members-table tbody tr:hover span{
    display: block;
    height: 1rem;
    padding: 20px;
    text-align: center;
}
