<div class="container">
    <div class="row p-2">
        <div class="col-sm-12">
            <span class="fa fa-arrow-left text-muted" routerLink="/admin/groups/{{groupId}}"> Back to Groups</span>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-12">
            <span class="fa fa-group text-muted h4"></span>
            <span class="p-2 h4">{{groupName}}</span>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-12">
            <h3>Add or remove people from {{groupName}} group</h3>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-12">
            <button class="btn btn-none text-primary" routerLink="/admin/groups/{{groupId}}">Cancel</button>
            <button class="btn btn-sm btn-primary float-right" (click)="addUserToGroup()">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                    <div class="input-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" >Search by person <br>
                                    Find people by name, email, or username</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn border-primary text-primary fa fa-plus-circle" (click)="addAll()">
                                <span> Add All ({{totaluser}})</span>
                            </button> <br><br>
                            <div class="card">
                                <div class="card-header bg-white">
                                    <span class="fa fa-user h3 text-danger"></span>
                                    <span> Not Members</span>
                                    <span class="float-right">showing 1 - {{totaluser}} of {{totaluser}}</span>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm d-sm border not-member-table">
                                        <thead>
                                            <th>Person & Username</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of notMembersArray">
                                                <td *ngIf="user" (click)="pushSingleItems(user.id)">
                                                    {{user.firstname +" "+ user.lastname}}
                                                    <span class="fa fa-plus-circle text-success float-right"></span>
                                                    <p>{{user.login}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="col-sm-12 col-md-12 col-lg-12 overflow-hidden">
                                        <nav aria-label="" class="float-right">
                                            <ul class="pagination">
                                                <li class="page-item disabled">
                                                    <span class="page-link">Previous</span>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a>
                                                </li>

                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="btn border-primary text-primary fa fa-minus-circle" (click)="removeAll()">
                                <span> Remove All ({{groupUserTotal}})</span>
                            </button>
                            <br><br>
                            <div class="card">
                                <div class="card-header bg-white">
                                    <span class="fa fa-user h3 text-success"></span>
                                    <span> Members</span>
                                    <span class="float-right">showing 1 - {{groupUserTotal}} of
                                        {{groupUserTotal}}</span>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm d-sm border members-table">
                                        <thead>
                                            <th>Person & Username</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of membersArray">
                                                <td *ngIf="user" (click)="popSingleItems(user.id)">
                                                    {{user.firstname +" "+ user.lastname}}
                                                    <span class="fa fa-minus-circle text-danger float-right"></span>
                                                    <p>{{user.login}}</p>
                                                </td>
                                                <td *ngIf="!user.id">
                                                    <p>No data found</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="col-sm-12 col-md-12 col-lg-12 overflow-hidden">
                                        <nav aria-label="" class="float-right">
                                            <ul class="pagination">
                                                <li class="page-item disabled">
                                                    <span class="page-link">Previous</span>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a>
                                                </li>

                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>