/* You can add global styles to this file, and also import other style files */
/* .main {
    width: 50%;
    margin: 0px auto;
} */
.main {
    display: flex;
    align-content: space-between;
    position: relative;
    margin-right: 27rem;
    top: 10px;
}
body{
    margin: 0% auto;
    padding: 0% auto;
    overflow: hidden;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.5rem;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#sidebar-wrapper {
    height: 90vh;
    width: 25vw;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    overflow-y: scroll;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width:100vw;
    height:90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.footer{
    position: relative;
    width: 100vw;
    bottom: 0;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width:768px) {
    #sidebar-wrapper {
        margin-left: 0;
        
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
@media (max-width:1280px) {
    #sidebar-wrapper {
        margin-left: 0;
        
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* ----------card view ------ */

.okta-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.okta-card-header{
    height: 3.2rem;
    background-color: whitesmoke;
    display: flex;
    border-bottom: 1px solid #ddd;
}
.okta-card-body{
    display: flex;
    flex-direction: column;
    height:auto;
}
.okta-card-footer{
    height: 3.2rem;
    background-color:whitesmoke;
    display: flex;
}

/* --------- search icons with no data found css */
.data-list-empty-binary {
    position: relative;
    width: 5em;
    margin: 0 auto;
    /* left: 50%; */
    color: #6e6e78;
    font-family: 'Courier New', serif;
    font-size: 1.1487rem;
    line-height: 1;
    word-wrap: break-word;
}
.data-list-empty-msg {
    margin: 0 auto;
    top: 0;
    left:50%;
    position: relative;
    padding: 3.42857rem 0;
}
.data-list-empty-msg {
    margin: 0 auto;
    padding: 3.42857rem 0;
}
.data-list-empty-img {
    position: absolute;
    top: 2.2em;
    left: 50%;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    
}
.data-list-head {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
}
.data-list-empty-head {
    margin-top: 0.85714rem;
    text-align: center;
    color: #212126;
    margin-right: auto;
    margin-left: auto;
}
.nav-link.active{
    background-color: #4c5a6394;
}
.mat-tab-content{
    overflow: hidden;
}
.fa-close{
    cursor: pointer;
}
.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
}
.form-control.ng-touched.ng-valid{
    border: 1px solid green;
}

.form-inline.ng-touched.ng-invalid{
    border: 1px solid red;
}
.form-inline.ng-touched.ng-valid{
    border: 1px solid green;
}
.input-field.ng-touched.ng-invalid{
    border: 1px solid red;
}
.input-field.ng-touched.ng-valid{
    border: 1px solid green;
}

.test:after {
    content: '\2807';
    font-size:35px;
    display: none;
}
button.fa.fa-bars.btn {
    display: none;
}
.navbar-light .navbar-brand {
    flex: auto;
    position: relative;
    display: flex;
    color: #4838dfcc;
    font-weight: bolder;
    font-size: 2rem;
}
.dropdown-menu.show {
    display: block;
    position: relative;
    width: 100%;
    flex: auto;
    margin: 0 -89px;
}

/* Media for responsive view to mobile friendly */
@media (max-width: 756px){
    #sidebar-wrapper {
        margin-left: 0;
        display: none;
    }
    button.fa.fa-bars.btn {
        display: inline;
    }
    
    .test:after {
        content: '\2807';
        font-size:35px;
        display: flex;
    }
    .navbar-light .navbar-brand {
        flex: auto;
        position: relative;
        display: flex;
        color: #4838dfcc;
        font-weight: bolder;
        font-size: 1rem;
    }
    .navbar-toggler{
        display: none;
    }
    
}
@media (max-width: 456px){
    .navbar-light .navbar-brand {
        flex: auto;
        position: relative;
        color: #4838dfcc;
        display: flex;
        font-weight: bolder;
        font-size: 1rem;
    }
    button.fa.fa-bars.btn {
        display: block;
    }
    
    .test:after {
        content: '\2807';
        font-size:35px;
        display: flex;
    }
    .navbar-toggler{
        display: none;
    }
}

@media (max-width: 556px){
    .navbar-light .navbar-brand {
        flex: auto;
        position: relative;
        display: flex;
        color: #4838dfcc;
        font-weight: bolder;
        font-size: 1rem;
    }
    button.fa.fa-bars.btn {
        display: block;
    }
    
    .test:after {
        content: '\2807';
        font-size:20px;
        display: block;
    }
    .navbar-toggler{
        display: none;
    }
}





