<div class="container-fluid p-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-white font-weight-bold">
                  Workflows
                </div>
                <div class="card-body bg-white">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>
